/****** Object:  Table [dbo].[TP_Zip_City]    Script Date: 10/21/2010 10:40:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TP_Zip_City]') AND type in (N'U'))
DROP TABLE [dbo].[TP_Zip_City]
GO
/****** Object:  Table [dbo].[TP_Zip_City]    Script Date: 10/21/2010 10:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TP_Zip_City]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TP_Zip_City](
	[zip] [int] NOT NULL,
	[city] [nvarchar](255) COLLATE Danish_Norwegian_CI_AS NULL,
 CONSTRAINT [PK_zip] PRIMARY KEY CLUSTERED 
(
	[zip] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[TP_Zip_City] ([zip], [city]) VALUES (555, N'Scanning')
INSERT [dbo].[TP_Zip_City] ([zip], [city]) VALUES (800, N'Høje Taastrup')
INSERT [dbo].[TP_Zip_City] ([zip], [city]) VALUES (877, N'København C')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
